
.capsule {
  width: 100%;
  height: 55vh;
}
.capsule img {
  position: relative;
  height: 100%;
  width: 33.333333333%;
}

.capsule img:hover {
  z-index: 99 !important;
  transform: scale(1.1);
}
@media screen and (min-width: 0px) and (max-width: 768px) {
  .form {
    height: 70vh;
    overflow-y: scroll;
  }
}

@media screen and (min-width: 992px) {
  .form {
    margin-left: 3rem! important;
  }
}
